/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Jul, 2019, 1:06:25 AM
    Author     : Kamakshi
*/
@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*.blurimage{
    margin:5%;
    height:80%;
    width:90%; 
    background-color:rgb(0,0,0);
    background-color:rgba(100,70,70,0.4);
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
} */
.login-page {
  /*background-color: greenyellow;
  border: 10px solid white;*/
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
  animation-name: animatezoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes animatezoom
{
   from
   {
   -webkit-transform: scale(0);
   } 
   to
   {
   -webkit-transform: scale(1);
   }
}
  
@keyframes animatezoom
{
  from
  {
  transform: scale(0);
  } 
  to
  {
  transform: scale(1);
  }
} 

.form {
  /*border:10px solid red;*/
  position:relative;
  z-index: 2;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#sub {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:rgba(239, 158, 10, 0.9098039215686274); ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#loginbutton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:rgba(239, 158, 10, 0.9098039215686274); ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#loginbutton:hover {
  background:rgba(252, 244, 4, 0.47);;
}
/*.form button :hover,.form button:active,.form button:focus {
  background:#9EABD7;
}*/
#sub:hover,#sub:active,#sub:focus {
  background: rgba(252, 244, 4, 0.47);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color:darkblue;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  background: #000000;
  /*background: rgb(215, 242, 105);*/
  /*background-image: url("book-67049__340.jpg"); /* fallback for old browsers */
  /*background-color: #81F7F3;*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


